body
{
    background-color: white;
}
ul{
    list-style-type:none;
}
nav {
    background-color: black;
    
}
li a{
    color: white;
    text-align: center;
    text-decoration: none;
    float:left;
    display:block;
   
}
li a:hover{
    background-color: gray;
    color: black;
}